@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.back {
    position: fixed;
    z-index: 9999;
    margin: 2rem;
    top: 0;
    left: 0;
  }
  .back a {
    padding: 13px 35px;
    text-decoration: none;
    background: crimson;
    color: #fff;
    border-radius: 20px;
    transition: opacity 0.2s ease;
    box-shadow: 0 0 8px 0px crimson;
  }
  .back a:hover {
    opacity: 0.7;
  }
  .back a i {
    position: relative;
    top: 1px;
    right: 10px;
    font-size: 14px;
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151515;

}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.card:hover {
    width: 600px;
    transition-delay: 0.5s;
}
.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #191919;
    border: 8px solid var(--clr);
    filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
    transition: 0.5s, background 0.5s;
    transition-delay: 0.75s, 1s;
}

.card:hover .circle::before {
  transition-delay: 0.5s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: var(--clr);
}

.card .circle .logo {
  position: relative;
  width: 250px;
  transition: 0.5s;
  transition-delay: 0.5s;
  left: 20%;
}

.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}

.card .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 300px;
  transition: 0.5s ease-in-out;
}
.card:hover .product_img {
  transition: 0.75s;
  top: 25%;
  left: 80%;
  height: 500px;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
}
.card .content {
  position: absolute;
  width: 60%;
  left: 20%;
  padding: 0 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.card:hover .content {
  transition-delay: 0.75s;
  opacity: 1;
  visibility: visible;
  left: 20px;
}
.card .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 10px;
}
.card .content p {
  color: #fff;
  line-height: 1.5;
}
.card .content a {
  position: relative;
  color: #111;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;

}