* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}
.back {
  position: fixed;
  z-index: 9999;
  margin: 2rem;
}
.back a {
  padding: 13px 35px;
  text-decoration: none;
  background: crimson;
  color: #fff;
  border-radius: 20px;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 8px 0px crimson;
}
.back a:hover {
  opacity: 0.7;
}
.back a i {
  position: relative;
  top: 1px;
  right: 10px;
  font-size: 14px;
}
section {
  height: 100vh;
  background: #000;
}
section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
  mix-blend-mode: color;
  pointer-events: none;
  z-index: 10;
}
video {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  object-fit: cover;
  width: 100%;
}
h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ddd;
  font-size: 5em;
  font-family: sans-serif;
  letter-spacing: 0.2em;
}

h1 span {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

h1 span:nth-child(1) {
  animation-delay: 1s;
}
h1 span:nth-child(2) {
  animation-delay: 1.5s;
}

h1 span:nth-child(3) {
  animation-delay: 2s;
}

h1 span:nth-child(4) {
  animation-delay: 3s;
}
h1 span:nth-child(5) {
  animation-delay: 3.5s;
}
h1 span:nth-child(6) {
  animation-delay: 3s;
}
h1 span:nth-child(7) {
  animation-delay: 3.25s;
}
h1 span:nth-child(8) {
  animation-delay: 3.5s;
}
.link-parallax {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 100;
  padding-top: 3rem;
}
.link-parallax a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  margin-left: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
  border-radius: 20px;
}

.link-parallax a:hover {
  border: 1px solid transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: fill var(--speed-fast) steps(8) forwards;
}

@keyframes fill {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
/* Mobile (Iphone) */
@media only screen and (max-width: 46.1875rem) {
  h1 {
    font-size: 2em;
  }
  video {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  section {
    overflow-x: hidden;
  }

  h1 span:nth-child(1) {
    animation-delay: 0.5s;
  }
  h1 span:nth-child(2) {
    animation-delay: 1s;
  }

  h1 span:nth-child(3) {
    animation-delay: 1.5s;
  }

  h1 span:nth-child(6) {
    animation-delay: 3s;
  }
  h1 span:nth-child(7) {
    animation-delay: 3.5s;
  }
  h1 span:nth-child(8) {
    animation-delay: 4s;
  }
  .link-parallax {
    row-gap: 1rem;
  }
  .link-parallax a {
    min-width: 120px;
    min-height: 50px;
    font-size: 13px;
    padding: 15px;
    text-transform: capitalize;
  }
}

/* TABLET (Ipad Air) */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .link-parallax a {
    font-size: 20px;
    padding: 30px;
  }
  h1 span:nth-child(6) {
    animation-delay: 3s;
  }
  h1 span:nth-child(7) {
    animation-delay: 3.5s;
  }
  h1 span:nth-child(8) {
    animation-delay: 4s;
  }
}
