*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smoke-btn {
    position: relative;
    padding: 20px 40px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    overflow: hidden;
}
.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    animation: animate 1s ease-out forwards;
}

@keyframes animate {
    to {
        opacity: 0;
        transform: translate(var(--tx),var(--ty)) scale(5);
    }    
}

.back {
    position: fixed;
    z-index: 9999;
    margin: 2rem;
    top: 0;
    left: 0;
  }
  .back a {
    padding: 13px 35px;
    text-decoration: none;
    background: crimson;
    color: #fff;
    border-radius: 20px;
    transition: opacity 0.2s ease;
    box-shadow: 0 0 8px 0px crimson;
  }
  .back a:hover {
    opacity: 0.7;
  }
  .back a i {
    position: relative;
    top: 1px;
    right: 10px;
    font-size: 14px;
  }