body,
html {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8em;
  color: #666;
  font-family: "Roboto";
}
.back {
  position: fixed;
  z-index: 9999;
  margin: 2rem;
}
.back a {
  padding: 13px 35px;
  text-decoration: none;
  background: crimson;
  color: #fff;
  border-radius: 20px;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 8px 0px crimson;
}
.back a:hover {
  opacity: 0.7;
}
.back a i {
  position: relative;
  top: 1px;
  right: 10px;
  font-size: 14px;
}

.image1,
.image2,
.image3,
.image4,
.image5,
.image6 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* to remove the parallax effect, just make the background-attachment: scroll; */

  background-attachment: fixed;
}
section p span {
  font-weight: bold;
  font-size: 30px;
}
.image1 {
  background-image: url(../img/sg1.jpg);
  min-height: 100%;
  background-size: cover;
}
.image2 {
  background-image: url(../img/sg2.jpg);
  min-height: 100%;
  background-size: cover;
}
.image3 {
  background-image: url(../img/hn1.png);
  min-height: 100%;
  background-size: cover;
}
.image4 {
  background-image: url(../img/hn2.jpg);
  min-height: 100%;
  background-size: cover;
}

.image5 {
  background-image: url(../img/dn1.jpg);
  min-height: 100%;
  background-size: cover;
}
.image6 {
  background-image: url(../img/dn3.jpg);
  min-height: 100%;
  background-size: cover;
}
section {
  text-align: center;
  padding: 5rem;
}

.section-light {
  background-color: #f4f4f4;
}

.section-dark {
  background-color: #282e34;
  color: #fff;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
section p {
  font-weight: 300;
}
.span-area {
  background-color: #111;
  color: #fff;
  padding: 1.25rem;
}

.trans {
  background-color: transparent;
}

/* ZOOM PAGE */
body {
  margin: 0;
  padding: 0;
}
.zoom {
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: url(../img/bg.jpg);
  background-size: cover;
}
.zoom:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background: linear-gradient(transparent, #fff);
}
.zoom #layer1 {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
}
.zoom #layer2 {
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 9;
}
.zoom #text1 {
  position: absolute;
  right: 0;
  width: 100%;
  transform: translateY(50%);
}
.content {
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h2 {
  filter: drop-shadow(0px 0px 2px black);
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #000;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content p {
  font-size: 1.2em;
}

/* Mobile (Iphone) */
@media only screen and (max-width: 46.1875rem) {
  section {
    padding: 1rem;
  }
  section p {
    text-align: justify;
  }

  .image2 {
    background-size: 200% 100%;
  }

  .image3 {
    background-size: 200% 100%;
  }
  .zoom {
    height: 650px;
    background-position: center;
  }
  .zoom:before {
    left: 0;
  }
  .zoom #layer1 {
    height: 70%;
    bottom: 0%;
    filter: brightness(0.9);
  }
  .zoom #layer2 {
    height: 70%;
    bottom: 0%;
    filter: brightness(0.9);
  }
  .zoom #text1 {
    height: 80%;
  }
  .content {
    padding-inline: 30px;
  }
}

/* TABLET (Ipad Air) */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  section {
    padding: 3rem;
  }
  section h2 {
    font-size: 36px;
  }
  section p {
    text-align: justify;
    font-size: 20px;
    line-height: 40px;
  }
  .zoom {
    height: 680px;
  }
  .zoom:before {
    left: 0;
  }
  .zoom #layer1 {
    height: 75%;
    bottom: 0;
  }
  .zoom #layer2 {
    bottom: 0;

    height: 75%;
  }
  .zoom #text1 {
    height: 80%;
  }
  .content {
    padding-inline: 60px;
  }
  .content h2 {
    font-size: 4.5em;
  }
  .content p {
    font-size: 1.6em;
  }
}
