body,
html {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8em;
  color: #666;
  font-family: sans-serif;
}

.image1,
.image2,
.image3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* to remove the parallax effect, just make the background-attachment: scroll; */

  background-attachment: fixed;
}

.image1 {
  background-image: url(../img/sg1.jpg);
  min-height: 100%;
  background-size: cover;
}
.image2 {
  background-image: url(../img/sg2.jpg);
  min-height: 100%;
  background-size: cover;
}
.image3 {
  background-image: url(../img/hn1.png);
  min-height: 100%;
  background-size: cover;
}
.image4 {
  background-image: url(../img/hn2.jpg);
  min-height: 100%;
  background-size: cover;
}

.image5 {
  background-image: url(../img/dn1.jpg);
  min-height: 100%;
  background-size: cover;
}
.image6 {
  background-image: url(../img/dn3.jpg);
  min-height: 100%;
  background-size: cover;
}
section {
  text-align: center;
  padding: 5rem;
}

.section-light {
  background-color: #f4f4f4;
}

.section-dark {
  background-color: #282e34;
  color: #fff;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.span-area {
  background-color: #111;
  color: #fff;
  padding: 1.25rem;
}

.trans {
  background-color: transparent;
}

/* Mobile (Iphone) */
@media only screen and (max-width: 46.1875rem) {
  section {
    padding: 1rem;
  }
  section p {
    text-align: justify;
  }
  section p span {
    font-weight: bold;
    font-size: 30px;
  }
  .image2 {
    background-size: 200% 100%;
  }

  .image3 {
    background-size: 200% 100%;
  }
}
